@model RoleViewModel

<div class="form-group ">
    <input placeholder="Role Name" class="form-control" asp-for="RoleName" />
    <span class="text-danger" asp-validation-for="RoleName"></span>
</div>

