@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure to Delete this Employee</h1>
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/_DeleteDetailsPartial" />
    <input type="hidden" asp-for="ImageName" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="ml-5 btn btn-secondary">Cancel</a>
</form>


