@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee: [@Model.Name] </h1>
<br />
<br />
<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditPartial" />
    <div class="form-group d-flex justify-content-around align-items-center">
        <input type="submit" value="Save" class="btn btn-primary " />
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </div>
</form>
@section ValidationSection{
    <partial name="_ValidationScriptsPartial" />
}


