@model UserViewModel
@inject IUnitOfWork _unitOfwwork;
@{
    var departments = new SelectList(await _unitOfwwork.DepartmentRepository.GetAll(), "Id", "Name");
}
<div class="form-group mt-0">
    <label class="col-form-label" asp-for="Id"></label>
    <input class="form-control" asp-for="Id" readonly />
</div>
<div class="form-group mt-0">
    <label class="col-form-label" asp-for="FName"></label>
    <input class="form-control" asp-for="FName" readonly />
</div>
<div class="form-group mt-0">
    <label class="col-form-label" asp-for="LName"></label>
    <input class="form-control" asp-for="LName" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />
</div>
