@model UserViewModel
<div class="form-group ">
    <label class="col-form-label" asp-for="FName"></label>
    <input placeholder="User First Name" class="form-control" asp-for="FName" />
    <span class="text-danger" asp-validation-for="FName"></span>
</div>
<div class="form-group ">
    <label class="col-form-label" asp-for="LName"></label>
    <input placeholder="User Last Name" class="form-control" asp-for="LName" />
    <span class="text-danger" asp-validation-for="LName"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input placeholder="Employee Email" class="form-control" asp-for="Email" />
    <span class="text-danger" asp-validation-for="Email"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input placeholder="Employee Phone Number" class="form-control" asp-for="PhoneNumber" />
    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
</div>
