@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center align-content-center p-5 mt-5">
	<div class="col-lg-6 col-md-12 card-back p-5">
		<h4 class="mb-4 pb-3">Forget Password</h4>
		<form asp-action="SendEmail">
			<div class="form-style" asp-validation-summary="All"></div>
			
			<div class="form-group mt-2">
				<input asp-for="Email" class="form-style" placeholder="Your Email">
				<i class="input-icon fa-solid fa-at"></i>
				<span class="text-danger" asp-validation-for="Email"></span>
			</div>
			<div class="form-group mt-1">
				<input type="submit" value="Send Email" class="btn mt-4" />
			</div>
			<p class="mb-0 mt-4 text-center">Do you want to try Login? <a asp-action="SignIn" class="link">Login Now!</a></p>
		</form>
	</div>
</div>
@section ValidationSection{
	<partial name="_ValidationScriptsPartial" />
}


